<div class="app-header">
  <div class="app-header-logo">
    <button mat-button (click)="onMenuClicked()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Student Management</span>
  </div>

  <div class="app-header-navbar">
    <button mat-button routerLink="/login" *ngIf="!isLogged">Login</button>
    <button mat-button routerLink="/dashboard" *ngIf="isLogged">Dashboard</button>
    <button mat-button *ngIf="isLogged" [matMenuTriggerFor]="student">Students</button>
    <mat-menu #student="matMenu">
      <button mat-menu-item routerLink="/student/list">Student List</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="classes" *ngIf="isLogged">Classes</button>
    <mat-menu #classes="matMenu">
      <button mat-menu-item routerLink="/class/list">Classes List</button>
    </mat-menu>
    <button mat-button routerLink="/login" *ngIf="isLogged" (click)="logout()">Logout</button>
  </div>
</div>
