table {
  width: 100%;
}

table.mat-table {
  border-spacing: 6px;
}

.mat-icon {
  padding: 9px;
}

.container {
  border: 1px solid black;
}

.mat-form-field {
  font-size: 14px;
  width: 70%;
}

.header button {
  padding: 10px;
}
